In [1]:
import pandas as pd
import warnings

warnings.simplefilter("ignore")

In [2]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)
ratings.head(15)

    movie_id             title  user_id  rating
0          1  Toy Story (1995)      308       4
1          1  Toy Story (1995)      287       5
2          1  Toy Story (1995)      148       4
3          1  Toy Story (1995)      280       4
4          1  Toy Story (1995)       66       3
5          1  Toy Story (1995)        5       4
6          1  Toy Story (1995)      109       4
7          1  Toy Story (1995)      181       3
8          1  Toy Story (1995)       95       5
9          1  Toy Story (1995)      268       3
10         1  Toy Story (1995)      189       5
11         1  Toy Story (1995)      145       3
12         1  Toy Story (1995)      158       4
13         1  Toy Story (1995)       67       3
14         1  Toy Story (1995)      232       4

In [3]:
movieRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')

corrMatrix = movieRatings.corr(method='pearson', min_periods=100)
corrMatrix.head(10)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Ã kÃ¶ldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2 Days in the Valley (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"20,000 Leagues Under the Sea (1954)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey (1968),NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,-0.001307,NaN,NaN,NaN,NaN,NaN,NaN
3 Ninjas: High Noon At Mega Mountain (1998),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"39 Steps, The (1935)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
u_movie=[]
u_rate=[]
x=''
movlist=movies['title'].values.tolist()
while x!='done':
    x=input('enter movie name or done: ')
    if x=='done':
        break
    elif x not in movlist:
        print('unavailable')
    else:
        y=int(input('rating: '))
        u_movie.append(x)
        u_rate.append(y)

enter movie name or done: done

In [5]:
import pandas as pd
data = {'Movies':u_movie,'Rating':u_rate}
ratings = pd.DataFrame.from_dict(data)
ratings.head()

Empty DataFrame
Columns: [movies, rating]
Index: []

In [7]:
similarMovies = pd.Series()
for i in range(0, len(u_movie)):
    print ("Adding movies for" , u_movie[i] )
    sims = corrMatrix[u_movie[i]].dropna()
    sims = sims.map(lambda x: x * u_rate[i])
    similarMovies = similarMovies.append(sims)
    
print ("Now sorting")
similarMovies.sort_values(inplace = True, ascending = False)

similarMovies = similarMovies.groupby(similarMovies.index).sum()
similarMovies.sort_values(inplace = True, ascending = False)
similarMovies.head(10)

result = similarMovies.drop(u_movie)
result.head(10)

Now sorting

Series([], dtype: float64)